block variables
 -var socials = {'soc-fb': 'http://www.fb.com','soc-tw':'http://www.twitter.com','soc-vk':'http://www.vk.com','soc-in':'http://www.linkedin.com'}
 -var checkboxes = {'checkbox1':'Referral Accepted and Invited invitations not sorted by A-Z','checkbox2':'Inbox shows me 242 items - that includes Done items; Only show me active','checkbox3':'Inbox defaults to show done items - it should not','checkbox4':'Lists default to Show Done - they should not','checkbox5':'Recent view should sort by Created and show no Done items'}
-var share = ['share','link']
-var notes = {'Children':{'12 items':'7h ago'},'The longest title in the world':{'3 items':'Mar 13'}}
-var gallery = {'video':'./assets/images/video@3x.png', 'photo1':'./assets/images/photo-1@3x.png', 'photo2':'./assets/images/photo-2@3x.png'}
-var images = {'img1':'./assets/images/photo-3@3x.png', 'img2':'./assets/images/photo-4@3x.png', 'img3':'./assets/images/photo-5@3x.png', 'img4':'./assets/images/photo-6@3x.png'}
-var files = {'./assets/images/db@3x.png':'logo_final.eps','./assets/images/skydrive@3x.png':'photos_summer.zip','./assets/images/attach-doc@3x.png':'work_...hard.doc'}
-var links = ['privacy','terms','contact']
-var footer = {'soc-tw':'http://www.twitter.com','soc-fb':'http://www.fb.com'}
doctype html
html
  head
    meta(charset="utf-8")
    title Centrallo
    meta(content="" name="author")
    meta(content="" name="description")
    meta(content="" name="keywords")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    link(rel='stylesheet' href='/assets/css/normalize.css')
    link(rel='stylesheet' href='/assets/css/main.css')
    script(src='/assets/js/main.js' defer)
    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .sprite__block
        include ../../build/assets/sprite/sprite.svg
    .modal
     .modal__content   
      .modal__title
        p.modal__title__text Share
        svg.modal__close
          use(xlink:href='#close')
      .modal__links    
       p.modal__text http://cll.io/a6lnu
       .modal__socials__block
        each link,id in socials
         .modal__social__block(class=id)
          a.modal__social__link(href=link, target="_blank")   
           svg.modal__social__svg(class=id)
            use(xlink:href='#'+id)       
    .offer__wrap    
     .offer__section
      .offer__logo
       img.logo__svg(src='./assets/images/icon.svg')
       .logo__text
        p.logo__name Centrallo
        p.logo__description
      .offer__download
       button.download__btn Download
       svg.offer__close
        use(xlink:href='#close')     
    header.header
        .header-logo
        .header-signup
            a.header-signup__link(href='#')
            span.header-signup__title  — start publishing in minutes
        a.header__login(href='#') log in
    .page-wrap
     .page-container
       section.info-section
        .info-block
         .info-user   
           img.info-user__img(src="./assets/images/ava@2x.png")
           p.info-user__username Konstantin Vladimirskiy
         .info-socials
          .socials-set
            each link,name in socials
             a.socials-set__link(href=link, target="_blank")
              svg.socials-set__svg(class=name)
               use(xlink:href='#'+name)
          p.info-socials__share http://cll.io/a6lnu       
        .info-data
          p.info-data__date Post-release checklist 2015.02.26
          button.info-data__btn Add to my Centrallo
          button.info-data__btn.btn__share Share
           svg.info-data__svg
            use(xlink:href='#share')     
     .page-container      
       section.page-note.checklist
        .bookmark
          svg.bookmark__corner.corner__red
            use(xlink:href='#corner-red')
          img.bookmark__icon(src='./assets/images/star.svg')
        ul.checkbox-list
         each val,id in checkboxes
          li.checkbox-item   
           input.checkbox-item__input(type='checkbox',id=id)
           label.checkbox-item__label(for=id)=val
        .timestamp
         p.timestamp__text 2h ago
         .timestamp-links
          each val in share
           if (val=='share')
            svg.timestamp-links__svg(class=val)
             use(xlink:href='#'+val)
           if (val=='link')
            .tooltip
             svg.timestamp-links__svg(class=val) 
              use(xlink:href='#'+val)
             .tooltip-wrap   
              span.tooltip-wrap__text  http://cll.io/a6lnu    
       section.page-note
        each note,name in notes
         .note-block
          .note-title
            svg.note-title__svg
             use(xlink:href='#list')   
            p.note-title__text=name
          .note-details
           each val,key in note 
            p.note-details__items=key
            p.note-details__date=val     
        .timestamp
         p.timestamp__text 2h ago
         .timestamp-links
          each val in share
           if (val=='share')
            svg.timestamp-links__svg(class=val)
             use(xlink:href='#'+val)
           if (val=='link')
            .tooltip
             svg.timestamp-links__svg(class=val) 
              use(xlink:href='#'+val)
             .tooltip-wrap   
              span.tooltip-wrap__text  http://cll.io/a6lnu  
       section.page-note.gallery
        .gallery-set
         each src,name in gallery
          img.gallery-set__item(class=name,src=src)
        .calendar
          svg.calendar__svg
           use(xlink:href='#calendar')
          p.calendar__text Due on Feb 13, 12:42 PM
        .timestamp
         p.timestamp__text Feb 14
         .timestamp-links
          each val in share
           if (val=='share')
            svg.timestamp-links__svg(class=val)
             use(xlink:href='#'+val)
           if (val=='link')
            .tooltip
             svg.timestamp-links__svg(class=val) 
              use(xlink:href='#'+val)
             .tooltip-wrap   
              span.tooltip-wrap__text  http://cll.io/a6lnu   
       section.page-note.description
         p.description__text The Dark Knight Rises is a 2012 British-American superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan, and the story with David S. Goyer. Featuring the DC Comics character Batman, the film is the final installment in Nolan's Batman film trilogy, and the sequel to Batman Begins (2005) and The Dark Knight (2008). Christian Bale reprises the lead role of Bruce Wayne/Batman, with a returning cast of allies: Michael Caine as Alfred Pennyworth, Gary Oldman as James Gordon, and Morgan Freeman as Lucius Fox. The film introduces Selina Kyle (Anne Hathaway), a sly, morally ambiguous cat burglar, and Bane (Tom Hardy), a revolutionary bent on destroying Gotham City who forces an older Bruce Wayne to come out of retirement and become Batman again.
         each src,name in images
          img.description__img(src=src,class=name)
         .map
           img.map__img(src='./assets/images/map@3x.png')
           .map__text
            p.map__place Merry Bergtraum High School for Business Cariers
            p.map__address 411 Pearl St, NY 10038
            p.map__address United States of America
            a.map__link(href="#") Watch location on Google Maps
         .files
           each name,src in files
            .file
              img.file__img(src=src)
              p.file__name=name   
         .timestamp
          p.timestamp__text Jan 12
          .timestamp-links
           each val in share
            if (val=='share')
             svg.timestamp-links__svg(class=val)
              use(xlink:href='#'+val)
            if (val=='link')
             .tooltip
              svg.timestamp-links__svg(class=val) 
               use(xlink:href='#'+val)
              .tooltip-wrap   
               span.tooltip-wrap__text  http://cll.io/a6lnu       
       section.empty-note.locked-note
        .bookmark
            svg.bookmark__corner.corner__grey
             use(xlink:href='#corner-red')
            img.bookmark__icon.icon__lock(src='./assets/images/lock.svg')  
        .timestamp
         p.timestamp__text Nov 22
         p.timestamp__info Protected
       section.empty-note.archive-note
        .bookmark
            svg.bookmark__corner.corner__grey
             use(xlink:href='#corner-red')
            img.bookmark__icon.icon__box(src='./assets/images/box.svg')
        .timestamp
         p.timestamp__text Nov 21
         p.timestamp__info.archive Archived
    footer.footer
        p.footer__copyright © CENTRALLO 2015
        .footer-links
         each name in links
          a.footer-links__link(href='#')=name 
        .footer-socials
         each href,id in footer
          a.footer-socials__link(href=href, target="_blank")   
           svg.footer-socials__svg(class=id)
            use(xlink:href='#'+id)   



